@import "../../../../Assets/Styles/app";

.user-card-component {
  display: flex;
  gap: 15px;

  img {
    width: 50px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .user-title {
      color: $blue;
    }
  }
}