@import "../../../Assets/Styles/app";

.main-layout-container {
  width: 800px;
  margin: auto;
  padding: 20px;

  .main-layout-header {
    margin: 20px 0;
    display: flex;
    align-items: center;
    color: $white;
    gap: 15px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 800px) {
  .main-layout-container {
    width: 100%;
    padding: 20px;
  }
}