@import "../../../../Assets/Styles/app";

.repo-card-component {
  display: flex;
  gap: 15px;

  img {
    width: 50px;
  }

  div {
    .repo-owner {
      color: $blue;
      margin-bottom: 10px;
      font-size: 12px;
    }
    .repo-title {
      color: $blue;
      margin-bottom: 10px;
    }
    .repo-descrption {
      color: $white;
      font-size: 12px;
    }
  }
}